.users{
    padding: 25px 20px;
}
.users header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #e6e6e6;
}
.user header .content img{
    height: 50px;
    width: 50px;
}
.wrapper img{
    object-fit: cover;
    border-radius: 50%;
}
:is(.users, .users-list)header .content{
    display: flex;
    align-items:center;
}
:is(.users,.users-list).details{
    color: #000;
    margin-left: 15px;
}
:is(.users, .users-list).details span{
    font-size: 18px;
    font-weight: 500;
}
.users header .logout{
    background-color: #333;
    color: #fff;
    font-size: 17px;
    padding: 7px 15px;
    border-radius: 5px;
}
.users .search{
    margin:20px 0;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.users .search .text{
    font-size: 18px;
}
.users .search input{
    position: absolute;
    height: 42px;
    width: calc(100% - 50px);
    border: 1px solid #ccc;
    font-size: 16px;
    border-radius: 5px 0 0 5px;
    outline: none;
}
.users .search button{
    width: 47px;
    height: 42px;
    border: none;
    outline: none;
    color: #fff;
    background-color: #333;
    border-radius: 0 5px 5px 0;
    cursor:pointer;
    font-size: 17px;
}
.users-list a .content img{
    height:40px;
    width:40px;
}
.users-list a .status-dot{
    font-size: 12px;
    color: #1eb974;
}
.users-list a .status-dot .offline{
    color: #ccc;
}